:root {
  --foreground-rgb: 255, 255, 255;
  --foreground-rgba-light: 255, 255, 255, 0.1;
  --background-rgb: 18, 29, 43;
  --purple-rgb: rgb(181, 84, 215);
  --gray-light-rbga: 117, 117, 117, 0.5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
